body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.scrollcontainer {
  display: flex;
  overflow-x: scroll;
}

.textbox {
  margin-right: 40px;
}

.textbox > p::-webkit-scrollbar {
  display: none;
}

.textbox > h1 {
  margin: 0;
  padding: 10px;
  width: 33vw;
  background-color: rgb(225, 225, 225);
}

.textbox > p {
  margin: 0;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  font-size: 20px;
  width: 33vw;
  height: 72vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.textbox > [contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

.add-textbox {
  height: 50px;
  margin-bottom: 20px;
}

.close-button {
  font-size: 30px;
  border: none;
  text-align: right;
}

.close-button:hover {
  background-color: rgb(192, 192, 192);
}

.add-filter {
  background-color: aqua;
  border: none;
  height: 50px;
}

.add-filter:active {
  background-color: rgb(0, 209, 209);
}

.marked {
  background-color: cyan;
}
